.compraContainer{
    /* border: 2px solid red; */
    margin-top: 100px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media only screen and (min-width:1000px){
    .compraContainer{
        /* border: 2px solid red; */
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        height: 100vh;
    }   
    .compraContainer .elementosComprados{
        border-radius: 10px;
        background-color: white;
        height: 85vh;
        overflow-y: scroll;
    }
}