.hero{
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: montserrat Alternates;
    /* justify-content: center; */
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.hero .horizontal{
    display: none;
}
.hero .vertical{
    width: 100vw;

}
.hero .horizontal, .hero .vertical{
    z-index: -2;
    position: absolute;
    filter: brightness(45%);
    width: 100vw;
}
.hero h1, .hero h2{
    color: whitesmoke;
    text-align: center;
    
} 
.hero h1{
    font-size: 3rem;
}
.hero h2{
    font-size: 2.5rem;
    font-weight: normal;
}

@media only screen and (orientation : landscape){
    .hero .vertical{
        display: none;
    }
    .hero .horizontal{
        display: block;
    }
}