

/* Catalogo de Itemlist */
.catalogo{
    display: flex;
    flex-direction: column;
    border:1px solid #5EB1BF;
    margin: 1rem;
    border-radius: 10px;
    /* box-shadow: 4px 6px 4px 0px #5EB1BF; */
    background-color: #FCF7FF;
}
.catalogo img{
    margin: .4rem auto;
    width: 16rem;
    height: 19rem;
}

.catalogodetalles{
    margin: .3rem 1rem;
    height:100%
}

.catalogodetalles h5{
    margin: .1rem 0;
    color: rgb(31, 30, 30);
}

.catalogodetalles .catalogoprincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.catalogoprecio{
    font-size: 1.1rem;
}

.catalogodetalles .catalogoprincipal .catalogotitulo h4{
    font-size: 1.3rem;
    margin: 0;
}
.catalogodetalles .catalogoprincipal .catalogotitulo h5{
    font-weight: normal;
}
.catalogoloInteresante{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.catalogolinkazo{
    margin-left: .5rem;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    padding: 1rem 0;
}
.catalogobotonazo{
    padding: 1.5rem;
    background-color: #5EB1BF;
    height: 100%;
    width: 100%;
    border: none;
    border: 1px solid #284d53;
    border-radius: 10px;
    font-size: 1.1rem;
}

.catalogoDetallesCarro,.catalogoAgregarQuitar, .catalogoPrecios{
    display: none;
}




@media only screen and (min-width:630px){
    .catalogo img{
        width: 18rem;
        height: 21rem;
    }
}


/* Home, novedades */

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin : 0 1rem
}

.home img{
    width: 300px;
    height: 340px;
}
.homeprincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}
.homeloInteresante{
    display: none;
}
.homeDetallesCarro,.homeAgregarQuitar, .homePrecios{
    display: none;
}


/* ELEMENTOS DE CARRiTO */

.carro{
    border: 1px solid #5EB1BF;
    display:flex;
    flex-direction: row;
    height: 17rem;
    width: 50vw;
    margin: 2rem 0;
    border-radius: 10px;
    position: relative;
    background-color: white;
}
.carro img{
    width: 12rem;
    height: 14rem;
    border-radius: 10px;
    margin: 1.5rem 2rem;
}
.carroprincipal{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.carrotitulo h4, .carrotitulo h5{
    font-size: 1.7rem;
    margin: .3rem 0
}

.carroItem{
    margin-top: .3rem;
    font-size: .7rem;
    font-weight:400;
    text-transform: uppercase;
}

.carroloInteresante{
    display: none;
}
/* .carroDetalles{
    border: 1px solid green;
} */
.carroDetallesCarro P{
    color:black;
    margin-top: .3rem;
    font-size: .8rem;
}
.carroPrecios{
    display: flex;
    width: 65%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 16rem;
    align-items: center;
    justify-content: space-between;
}

.carroPrecios p{
    font-size: 1.1rem;
}
.carroPrecios p span{
    font-size: 1.5rem;
}

.carroAgregarQuitar{
    position: absolute;
    right: 3rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid purple; */
    height: fit-content;
}

.carroAgregarQuitar p{
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
}

.carroAgregarQuitar .botones button{
    border: 1px solid #074749;
    background-color: #042A2B;
    color: white;
    font-size: 1rem;
    padding: .8rem;
    border-radius: 10px;
    margin:.2rem .2rem
}