

/* Catalogo de Itemlist */
.catalogo{
    display: flex;
    flex-direction: column;
    border:1px solid #5EB1BF;
    margin: 1rem;
    border-radius: 10px;
    /* box-shadow: 4px 6px 4px 0px #5EB1BF; */
    background-color: #FCF7FF;
}
.catalogo img{
    margin: .4rem auto;
    width: 16rem;
    height: 19rem;
}

.catalogodetalles{
    margin: .3rem 1rem;
    height:100%
}

.catalogodetalles h5{
    margin: .1rem 0;
    color: rgb(31, 30, 30);
}

.catalogodetalles .catalogoprincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.catalogoprecio{
    font-size: 1.1rem;
}

.catalogodetalles .catalogoprincipal .catalogotitulo h4{
    font-size: 1.3rem;
    margin: 0;
}
.catalogodetalles .catalogoprincipal .catalogotitulo h5{
    font-weight: normal;
}
.catalogoloInteresante{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.catalogolinkazo{
    margin-left: .5rem;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    padding: 1rem 0;
}
.catalogobotonazo{
    padding: 1.5rem;
    background-color: #5EB1BF;
    height: 100%;
    width: 100%;
    border: none;
    border: 1px solid #284d53;
    border-radius: 10px;
    font-size: 1.1rem;
}

@media only screen and (min-width:630px){
    .catalogo img{
        width: 18rem;
        height: 21rem;
    }
}


/* Home, novedades */

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin : 0 1rem
}

.home img{
    width: 300px;
    height: 340px;
}
.homeprincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}
.homeloInteresante{
    display: none;
}