.landing{
    background-color: #9EBABF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.96'%3E%3Cpolygon fill='%23acc4c8' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23b9cdd1' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23c7d7da' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23d5e1e3' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23e3ebec' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23f1f5f6' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23FFFFFF' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    /* background-attachment: fixed; */
}

.swiper-slide{
    align-content:center;
    justify-content: center;
    display: flex;
    justify-content: center;
    height: 90vh;
}

.imagenCarruselPrincipal{
    object-fit: cover;
    width: 100vw;

}

.deportesPrincipal{
    margin: 5rem 0;
}
.deportesPrincipal h2{
    font-family: 'Staatliches', cursive;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: .8rem;
}
.deportesImagenes{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.deportesImagenes a{
    width: 22rem;
    height: 34rem;
    margin: 0 3rem;
    border-radius: 10px;
    position: relative;
}

.deportesImagenes a h3{
    position: absolute;
    text-decoration: none;
    color: transparent;
    font-size: 3rem;
    font-weight: lighter;
    top: 2rem;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.deportesImagenes a img{
    width: 22rem;
    height: 34rem;
    object-fit: cover;
    border-radius: 10px;
}

.deportesImagenes a:hover img
{
    filter: grayscale(1);
    filter:brightness(0.4);
    transition: 100ms;
}
.deportesImagenes a:hover h3{
    transition: 100ms;
    color:#FCF7FF;

}