.galeria{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.imagenesGaleria{
    display: flex;
    flex-direction: row;
}


@media only screen and (min-width:600px){
    .itemDetalles{
        flex-direction: row;
    }

    .itemDetalles .imagenDetalle{
        width: 40vw;
    }
    .detallesGenerales{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}